.campotexto {
    margin: 8px 0px;
}

.campotexto label{
    text-align: left;
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
}

.campotexto input{
    background-color: #FFF;
    box-shadow: 10px 10px 30px rgb(0, 0, 0.06);
    width: 100%;
    border: none;
    font-size: 12px;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 5px;
}