.campotexto {
    margin: 8px 0px;
}

.campotexto label{
    text-align: left;
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
}

.campotexto div{
    display: flex;
    padding: 0px 5px 0px 0px;
    background-color: #FFF;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 10px 10px 30px rgb(0, 0, 0.06);
}

.campotexto input{
    background-color: #FFF;
    border: none;
    font-size: 12px;
    outline: none;
    width: 100%;
    padding: 12px;
    border-radius: 5px;
}