.banner {
    position: relative;
    background: url("../../assets/img/Banner.png") center/cover no-repeat; /* Define a imagem de fundo do banner */
    height: 75vh;
    overflow: hidden;
  }
  
  .container {
    position: relative;
  }
  
  .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  