.botao{
    font-size: 24px;
    background-color: #287895;
    border: none;
    border-radius: inherit;;
    margin: 16px 0px;
    cursor: pointer;
}

.botao:hover{
    background-color: #eb540f;  
}